<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mengo.android.backend.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.mengo.android.backend.beans.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="user_name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt_word" jdbcType="VARCHAR" property="salt_word"/>
    </resultMap>
    <select id="get" resultType="com.mengo.android.backend.beans.User">
        select * from user_table
    </select>
    <select id="getUserByName" resultType="com.mengo.android.backend.beans.User" parameterType="string">
        select * from user_table where user_name=#{username}
    </select>
    <insert id="registerUser"  parameterType="com.mengo.android.backend.beans.User">
        insert into user_table (user_name,password,salt_word) values (#{user_name},#{password},#{salt_word})
    </insert>
</mapper>